### *INSERT INTO, UPDATE, ALTER TABLE*

In [5]:
import mysql.connector

In [6]:
#Se agregan actores a la tabla sakila.actors.
try:
    conexion = mysql.connector.connect(host='localhost', user='root',password='',database='sakila')
    cursor = conexion.cursor()

    sql = ("insert into actor (first_name, last_name) values (%s,%s)")
    nuevos_actores = [('TOM','HANKS'),
                      ('PAUL','NEWMAN'),
                      ('MICHAEL','CAINE'),
                      ('DUSTIN', 'HOFFMAN'),
                      ('JACK', 'NICHOLSON')
                     ]
    
    cursor.executemany(sql, nuevos_actores)
    conexion.commit()
    
except Exception as e:
    print(f"ERROR DE CONEXION--> {e}")
finally:
    conexion.close()
    print("\nCierre de conexión exitoso!!!")

Cierre de conexión exitoso!!!

In [7]:
#Se verifican los actores agregados.
try:
    conexion = mysql.connector.connect(host='localhost', user='root',password='',database='sakila')
    cursor = conexion.cursor()
    
    cursor.execute("select actor_id, concat(first_name,' ',last_name) from actor order by actor_id desc limit 10")
    
    filas = cursor.fetchall()
    
    print(f"\n\nRESULTADOS OBTENIDOS\nTotal de registros: {cursor.rowcount}\n")
    print("==============================================")
    print("\t\t CONSULTA SELECT")
    print("==============================================")
    for fila in filas:
        print(f"ID: {fila[0]},\nNOMBRE Y APELLIDO: {fila[1]}.")
        print("-------------------------------")
    print("==============================================")
    print("\t\t FIN CONSULTA")
    print("==============================================")

    conexion.commit()
    
except Exception as e:
    print(f"ERROR DE CONEXION--> {e}")
finally:
    conexion.close()
    print("\nCierre de conexión exitoso!!!")

RESULTADOS OBTENIDOS
Total de registros: 10

==============================================
		 CONSULTA SELECT
==============================================
ID: 218,
NOMBRE Y APELLIDO: JACK NICHOLSON.
-------------------------------
ID: 217,
NOMBRE Y APELLIDO: DUSTIN HOFFMAN.
-------------------------------
ID: 216,
NOMBRE Y APELLIDO: MICHAEL CAINE.
-------------------------------
ID: 215,
NOMBRE Y APELLIDO: PAUL NEWMAN.
-------------------------------
ID: 214,
NOMBRE Y APELLIDO: TOM HANKS.
-------------------------------
ID: 200,
NOMBRE Y APELLIDO: THORA TEMPLE.
-------------------------------
ID: 199,
NOMBRE Y APELLIDO: JULIA FAWCETT.
-------------------------------
ID: 198,
NOMBRE Y APELLIDO: MARY KEITEL.
-------------------------------
ID: 197,
NOMBRE Y APELLIDO: REESE WEST.
-------------------------------
ID: 196,
NOMBRE Y APELLIDO: BELA WALKEN.
-------------------------------
==============================================
		 FIN CONSULTA
==============================================

Cierre de conexión exitoso!!!

In [17]:
#Se agrega la columna edad en la tabla sakila.actors.
try:
    conexion = mysql.connector.connect(host='localhost', user='root',password='',database='sakila')
    cursor = conexion.cursor()
 
    cursor.execute("alter table actor add age int(11)")
  
    conexion.commit()
    
except Exception as e:
    print(f"ERROR DE CONEXION--> {e}")
finally:
    conexion.close()
    print("\nCierre de conexión exitoso!!!")

Cierre de conexión exitoso!!!

In [18]:
#Se verifican los actores agregados.
try:
    conexion = mysql.connector.connect(host='localhost', user='root',password='',database='sakila')
    cursor = conexion.cursor()
    
    cursor.execute("select actor_id, concat(first_name,' ',last_name), age from actor order by actor_id desc limit 10")
    
    filas = cursor.fetchall()
    
    print(f"\n\nRESULTADOS OBTENIDOS\nTotal de registros: {cursor.rowcount}\n")
    print("==============================================")
    print("\t\t CONSULTA SELECT")
    print("==============================================")
    for fila in filas:
        print(f"ID: {fila[0]},\nNOMBRE Y APELLIDO: {fila[1]},\nEDAD: {fila[2]}.")
        print("-------------------------------")
    print("==============================================")
    print("\t\t FIN CONSULTA")
    print("==============================================")
    
    conexion.commit()
    
except Exception as e:
    print(f"ERROR DE CONEXION--> {e}")
finally:
    conexion.close()
    print("\nCierre de conexión exitoso!!!")

RESULTADOS OBTENIDOS
Total de registros: 10

==============================================
		 CONSULTA SELECT
==============================================
ID: 218,
NOMBRE Y APELLIDO: JACK NICHOLSON,
EDAD: None.
-------------------------------
ID: 217,
NOMBRE Y APELLIDO: DUSTIN HOFFMAN,
EDAD: None.
-------------------------------
ID: 216,
NOMBRE Y APELLIDO: MICHAEL CAINE,
EDAD: None.
-------------------------------
ID: 215,
NOMBRE Y APELLIDO: PAUL NEWMAN,
EDAD: None.
-------------------------------
ID: 214,
NOMBRE Y APELLIDO: TOM HANKS,
EDAD: None.
-------------------------------
ID: 200,
NOMBRE Y APELLIDO: THORA TEMPLE,
EDAD: None.
-------------------------------
ID: 199,
NOMBRE Y APELLIDO: JULIA FAWCETT,
EDAD: None.
-------------------------------
ID: 198,
NOMBRE Y APELLIDO: MARY KEITEL,
EDAD: None.
-------------------------------
ID: 197,
NOMBRE Y APELLIDO: REESE WEST,
EDAD: None.
-------------------------------
ID: 196,
NOMBRE Y APELLIDO: BELA WALKEN,
EDAD: None.
-------------------------------
==============================================
		 FIN CONSULTA
==============================================

Cierre de conexión exitoso!!!

In [20]:
#Se actualizan las edades de algunos actores agregados.
try:
    conexion = mysql.connector.connect(host='localhost', user='root',password='',database='sakila')
    cursor = conexion.cursor()
    
    cursor.execute("update actor set age = 84 where first_name = 'DUSTIN' and last_name = 'HOFFMAN'")
    cursor.execute("update actor set age = 85 where first_name = 'JACK' and last_name = 'NICHOLSON'")
    
    conexion.commit()
    
except Exception as e:
    print(f"ERROR DE CONEXION--> {e}")
finally:
    conexion.close()
    print("\nCierre de conexión exitoso!!!")

Cierre de conexión exitoso!!!

In [22]:
#Se verifican si la edad está actualizada.
try:
    conexion = mysql.connector.connect(host='localhost', user='root',password='',database='sakila')
    cursor = conexion.cursor()
    
    cursor.execute("select actor_id, concat(first_name,' ',last_name), age from actor order by actor_id desc limit 5")
    
    filas = cursor.fetchall()
    
    print(f"\n\nRESULTADOS OBTENIDOS\nTotal de registros: {cursor.rowcount}\n")
    print("==============================================")
    print("\t\t CONSULTA SELECT")
    print("==============================================")
    for fila in filas:
        print(f"ID: {fila[0]},\nNOMBRE Y APELLIDO: {fila[1]},\nEDAD: {fila[2]}.")
        print("-------------------------------")
    print("==============================================")
    print("\t\t FIN CONSULTA")
    print("==============================================")
    
    conexion.commit()
    
except Exception as e:
    print(f"ERROR DE CONEXION--> {e}")
finally:
    conexion.close()
    print("\nCierre de conexión exitoso!!!")

RESULTADOS OBTENIDOS
Total de registros: 5

==============================================
		 CONSULTA SELECT
==============================================
ID: 218,
NOMBRE Y APELLIDO: JACK NICHOLSON,
EDAD: 85.
-------------------------------
ID: 217,
NOMBRE Y APELLIDO: DUSTIN HOFFMAN,
EDAD: 84.
-------------------------------
ID: 216,
NOMBRE Y APELLIDO: MICHAEL CAINE,
EDAD: 89.
-------------------------------
ID: 215,
NOMBRE Y APELLIDO: PAUL NEWMAN,
EDAD: None.
-------------------------------
ID: 214,
NOMBRE Y APELLIDO: TOM HANKS,
EDAD: None.
-------------------------------
==============================================
		 FIN CONSULTA
==============================================

Cierre de conexión exitoso!!!

In [23]:
#Se elimina la columna edad agregada anteriormente.
try:
    conexion = mysql.connector.connect(host='localhost', user='root',password='',database='sakila')
    cursor = conexion.cursor()
    
    cursor.execute("ALTER TABLE actor DROP COLUMN age;")
  
    conexion.commit()
    
except Exception as e:
    print(f"ERROR DE CONEXION--> {e}")
finally:
    conexion.close()
    print("\nCierre de conexión exitoso!!!")

Cierre de conexión exitoso!!!

In [24]:
#Se verifica si la columna edad se eliminó.
try:
    conexion = mysql.connector.connect(host='localhost', user='root',password='',database='sakila')
    cursor = conexion.cursor()
    
    cursor.execute("select actor_id, concat(first_name,' ' ,last_name) from actor")
    
    filas = cursor.fetchall()
    
    print(f"\n\nRESULTADOS OBTENIDOS\nTotal de registros: {cursor.rowcount}\n")
    print("==============================================")
    print("\t\t CONSULTA SELECT")
    print("==============================================")
    for fila in filas:
        print(f"ID: {fila[0]},\nNOMBRE Y APELLIDO: {fila[1]}.")
        print("-------------------------------")
    print("==============================================")
    print("\t\t FIN CONSULTA")
    print("==============================================")
 
    conexion.commit()
    
except Exception as e:
    print(f"ERROR DE CONEXION--> {e}")
finally:
    conexion.close()
    print("\nCierre de conexión exitoso!!!")

RESULTADOS OBTENIDOS
Total de registros: 205

==============================================
		 CONSULTA SELECT
==============================================
ID: 1,
NOMBRE Y APELLIDO: PENELOPE GUINESS.
-------------------------------
ID: 2,
NOMBRE Y APELLIDO: NICK WAHLBERG.
-------------------------------
ID: 3,
NOMBRE Y APELLIDO: ED CHASE.
-------------------------------
ID: 4,
NOMBRE Y APELLIDO: JENNIFER DAVIS.
-------------------------------
ID: 5,
NOMBRE Y APELLIDO: JOHNNY LOLLOBRIGIDA.
-------------------------------
ID: 6,
NOMBRE Y APELLIDO: BETTE NICHOLSON.
-------------------------------
ID: 7,
NOMBRE Y APELLIDO: GRACE MOSTEL.
-------------------------------
ID: 8,
NOMBRE Y APELLIDO: MATTHEW JOHANSSON.
-------------------------------
ID: 9,
NOMBRE Y APELLIDO: JOE SWANK.
-------------------------------
ID: 10,
NOMBRE Y APELLIDO: CHRISTIAN GABLE.
-------------------------------
ID: 11,
NOMBRE Y APELLIDO: ZERO CAGE.
-------------------------------
ID: 12,
NOMBRE Y APELLIDO: KARL BERRY.
-------------------------------
ID: 13,
NOMBRE Y APELLIDO: UMA WOOD.
-------------------------------
ID: 14,
NOMBRE Y APELLIDO: VIVIEN BERGEN.
-------------------------------
ID: 15,
NOMBRE Y APELLIDO: CUBA OLIVIER.
-------------------------------
ID: 16,
NOMBRE Y APELLIDO: FRED COSTNER.
-------------------------------
ID: 17,
NOMBRE Y APELLIDO: HELEN VOIGHT.
-------------------------------
ID: 18,
NOMBRE Y APELLIDO: DAN TORN.
-------------------------------
ID: 19,
NOMBRE Y APELLIDO: BOB FAWCETT.
-------------------------------
ID: 20,
NOMBRE Y APELLIDO: LUCILLE TRACY.
-------------------------------
ID: 21,
NOMBRE Y APELLIDO: KIRSTEN PALTROW.
-------------------------------
ID: 22,
NOMBRE Y APELLIDO: ELVIS MARX.
-------------------------------
ID: 23,
NOMBRE Y APELLIDO: SANDRA KILMER.
-------------------------------
ID: 24,
NOMBRE Y APELLIDO: CAMERON STREEP.
-------------------------------
ID: 25,
NOMBRE Y APELLIDO: KEVIN BLOOM.
-------------------------------
ID: 26,
NOMBRE Y APELLIDO: RIP CRAWFORD.
-------------------------------
ID: 27,
NOMBRE Y APELLIDO: JULIA MCQUEEN.
-------------------------------
ID: 28,
NOMBRE Y APELLIDO: WOODY HOFFMAN.
-------------------------------
ID: 29,
NOMBRE Y APELLIDO: ALEC WAYNE.
-------------------------------
ID: 30,
NOMBRE Y APELLIDO: SANDRA PECK.
-------------------------------
ID: 31,
NOMBRE Y APELLIDO: SISSY SOBIESKI.
-------------------------------
ID: 32,
NOMBRE Y APELLIDO: TIM HACKMAN.
-------------------------------
ID: 33,
NOMBRE Y APELLIDO: MILLA PECK.
-------------------------------
ID: 34,
NOMBRE Y APELLIDO: AUDREY OLIVIER.
-------------------------------
ID: 35,
NOMBRE Y APELLIDO: JUDY DEAN.
-------------------------------
ID: 36,
NOMBRE Y APELLIDO: BURT DUKAKIS.
-------------------------------
ID: 37,
NOMBRE Y APELLIDO: VAL BOLGER.
-------------------------------
ID: 38,
NOMBRE Y APELLIDO: TOM MCKELLEN.
-------------------------------
ID: 39,
NOMBRE Y APELLIDO: GOLDIE BRODY.
-------------------------------
ID: 40,
NOMBRE Y APELLIDO: JOHNNY CAGE.
-------------------------------
ID: 41,
NOMBRE Y APELLIDO: JODIE DEGENERES.
-------------------------------
ID: 42,
NOMBRE Y APELLIDO: TOM MIRANDA.
-------------------------------
ID: 43,
NOMBRE Y APELLIDO: KIRK JOVOVICH.
-------------------------------
ID: 44,
NOMBRE Y APELLIDO: NICK STALLONE.
-------------------------------
ID: 45,
NOMBRE Y APELLIDO: REESE KILMER.
-------------------------------
ID: 46,
NOMBRE Y APELLIDO: PARKER GOLDBERG.
-------------------------------
ID: 47,
NOMBRE Y APELLIDO: JULIA BARRYMORE.
-------------------------------
ID: 48,
NOMBRE Y APELLIDO: FRANCES DAY-LEWIS.
-------------------------------
ID: 49,
NOMBRE Y APELLIDO: ANNE CRONYN.
-------------------------------
ID: 50,
NOMBRE Y APELLIDO: NATALIE HOPKINS.
-------------------------------
ID: 51,
NOMBRE Y APELLIDO: GARY PHOENIX.
-------------------------------
ID: 52,
NOMBRE Y APELLIDO: CARMEN HUNT.
-------------------------------
ID: 53,
NOMBRE Y APELLIDO: MENA TEMPLE.
-------------------------------
ID: 54,
NOMBRE Y APELLIDO: PENELOPE PINKETT.
-------------------------------
ID: 55,
NOMBRE Y APELLIDO: FAY KILMER.
-------------------------------
ID: 56,
NOMBRE Y APELLIDO: DAN HARRIS.
-------------------------------
ID: 57,
NOMBRE Y APELLIDO: JUDE CRUISE.
-------------------------------
ID: 58,
NOMBRE Y APELLIDO: CHRISTIAN AKROYD.
-------------------------------
ID: 59,
NOMBRE Y APELLIDO: DUSTIN TAUTOU.
-------------------------------
ID: 60,
NOMBRE Y APELLIDO: HENRY BERRY.
-------------------------------
ID: 61,
NOMBRE Y APELLIDO: CHRISTIAN NEESON.
-------------------------------
ID: 62,
NOMBRE Y APELLIDO: JAYNE NEESON.
-------------------------------
ID: 63,
NOMBRE Y APELLIDO: CAMERON WRAY.
-------------------------------
ID: 64,
NOMBRE Y APELLIDO: RAY JOHANSSON.
-------------------------------
ID: 65,
NOMBRE Y APELLIDO: ANGELA HUDSON.
-------------------------------
ID: 66,
NOMBRE Y APELLIDO: MARY TANDY.
-------------------------------
ID: 67,
NOMBRE Y APELLIDO: JESSICA BAILEY.
-------------------------------
ID: 68,
NOMBRE Y APELLIDO: RIP WINSLET.
-------------------------------
ID: 69,
NOMBRE Y APELLIDO: KENNETH PALTROW.
-------------------------------
ID: 70,
NOMBRE Y APELLIDO: MICHELLE MCCONAUGHEY.
-------------------------------
ID: 71,
NOMBRE Y APELLIDO: ADAM GRANT.
-------------------------------
ID: 72,
NOMBRE Y APELLIDO: SEAN WILLIAMS.
-------------------------------
ID: 73,
NOMBRE Y APELLIDO: GARY PENN.
-------------------------------
ID: 74,
NOMBRE Y APELLIDO: MILLA KEITEL.
-------------------------------
ID: 75,
NOMBRE Y APELLIDO: BURT POSEY.
-------------------------------
ID: 76,
NOMBRE Y APELLIDO: ANGELINA ASTAIRE.
-------------------------------
ID: 77,
NOMBRE Y APELLIDO: CARY MCCONAUGHEY.
-------------------------------
ID: 78,
NOMBRE Y APELLIDO: GROUCHO SINATRA.
-------------------------------
ID: 79,
NOMBRE Y APELLIDO: MAE HOFFMAN.
-------------------------------
ID: 80,
NOMBRE Y APELLIDO: RALPH CRUZ.
-------------------------------
ID: 81,
NOMBRE Y APELLIDO: SCARLETT DAMON.
-------------------------------
ID: 82,
NOMBRE Y APELLIDO: WOODY JOLIE.
-------------------------------
ID: 83,
NOMBRE Y APELLIDO: BEN WILLIS.
-------------------------------
ID: 84,
NOMBRE Y APELLIDO: JAMES PITT.
-------------------------------
ID: 85,
NOMBRE Y APELLIDO: MINNIE ZELLWEGER.
-------------------------------
ID: 86,
NOMBRE Y APELLIDO: GREG CHAPLIN.
-------------------------------
ID: 87,
NOMBRE Y APELLIDO: SPENCER PECK.
-------------------------------
ID: 88,
NOMBRE Y APELLIDO: KENNETH PESCI.
-------------------------------
ID: 89,
NOMBRE Y APELLIDO: CHARLIZE DENCH.
-------------------------------
ID: 90,
NOMBRE Y APELLIDO: SEAN GUINESS.
-------------------------------
ID: 91,
NOMBRE Y APELLIDO: CHRISTOPHER BERRY.
-------------------------------
ID: 92,
NOMBRE Y APELLIDO: KIRSTEN AKROYD.
-------------------------------
ID: 93,
NOMBRE Y APELLIDO: ELLEN PRESLEY.
-------------------------------
ID: 94,
NOMBRE Y APELLIDO: KENNETH TORN.
-------------------------------
ID: 95,
NOMBRE Y APELLIDO: DARYL WAHLBERG.
-------------------------------
ID: 96,
NOMBRE Y APELLIDO: GENE WILLIS.
-------------------------------
ID: 97,
NOMBRE Y APELLIDO: MEG HAWKE.
-------------------------------
ID: 98,
NOMBRE Y APELLIDO: CHRIS BRIDGES.
-------------------------------
ID: 99,
NOMBRE Y APELLIDO: JIM MOSTEL.
-------------------------------
ID: 100,
NOMBRE Y APELLIDO: SPENCER DEPP.
-------------------------------
ID: 101,
NOMBRE Y APELLIDO: SUSAN DAVIS.
-------------------------------
ID: 102,
NOMBRE Y APELLIDO: WALTER TORN.
-------------------------------
ID: 103,
NOMBRE Y APELLIDO: MATTHEW LEIGH.
-------------------------------
ID: 104,
NOMBRE Y APELLIDO: PENELOPE CRONYN.
-------------------------------
ID: 105,
NOMBRE Y APELLIDO: SIDNEY CROWE.
-------------------------------
ID: 106,
NOMBRE Y APELLIDO: GROUCHO DUNST.
-------------------------------
ID: 107,
NOMBRE Y APELLIDO: GINA DEGENERES.
-------------------------------
ID: 108,
NOMBRE Y APELLIDO: WARREN NOLTE.
-------------------------------
ID: 109,
NOMBRE Y APELLIDO: SYLVESTER DERN.
-------------------------------
ID: 110,
NOMBRE Y APELLIDO: SUSAN DAVIS.
-------------------------------
ID: 111,
NOMBRE Y APELLIDO: CAMERON ZELLWEGER.
-------------------------------
ID: 112,
NOMBRE Y APELLIDO: RUSSELL BACALL.
-------------------------------
ID: 113,
NOMBRE Y APELLIDO: MORGAN HOPKINS.
-------------------------------
ID: 114,
NOMBRE Y APELLIDO: MORGAN MCDORMAND.
-------------------------------
ID: 115,
NOMBRE Y APELLIDO: HARRISON BALE.
-------------------------------
ID: 116,
NOMBRE Y APELLIDO: DAN STREEP.
-------------------------------
ID: 117,
NOMBRE Y APELLIDO: RENEE TRACY.
-------------------------------
ID: 118,
NOMBRE Y APELLIDO: CUBA ALLEN.
-------------------------------
ID: 119,
NOMBRE Y APELLIDO: WARREN JACKMAN.
-------------------------------
ID: 120,
NOMBRE Y APELLIDO: PENELOPE MONROE.
-------------------------------
ID: 121,
NOMBRE Y APELLIDO: LIZA BERGMAN.
-------------------------------
ID: 122,
NOMBRE Y APELLIDO: SALMA NOLTE.
-------------------------------
ID: 123,
NOMBRE Y APELLIDO: JULIANNE DENCH.
-------------------------------
ID: 124,
NOMBRE Y APELLIDO: SCARLETT BENING.
-------------------------------
ID: 125,
NOMBRE Y APELLIDO: ALBERT NOLTE.
-------------------------------
ID: 126,
NOMBRE Y APELLIDO: FRANCES TOMEI.
-------------------------------
ID: 127,
NOMBRE Y APELLIDO: KEVIN GARLAND.
-------------------------------
ID: 128,
NOMBRE Y APELLIDO: CATE MCQUEEN.
-------------------------------
ID: 129,
NOMBRE Y APELLIDO: DARYL CRAWFORD.
-------------------------------
ID: 130,
NOMBRE Y APELLIDO: GRETA KEITEL.
-------------------------------
ID: 131,
NOMBRE Y APELLIDO: JANE JACKMAN.
-------------------------------
ID: 132,
NOMBRE Y APELLIDO: ADAM HOPPER.
-------------------------------
ID: 133,
NOMBRE Y APELLIDO: RICHARD PENN.
-------------------------------
ID: 134,
NOMBRE Y APELLIDO: GENE HOPKINS.
-------------------------------
ID: 135,
NOMBRE Y APELLIDO: RITA REYNOLDS.
-------------------------------
ID: 136,
NOMBRE Y APELLIDO: ED MANSFIELD.
-------------------------------
ID: 137,
NOMBRE Y APELLIDO: MORGAN WILLIAMS.
-------------------------------
ID: 138,
NOMBRE Y APELLIDO: LUCILLE DEE.
-------------------------------
ID: 139,
NOMBRE Y APELLIDO: EWAN GOODING.
-------------------------------
ID: 140,
NOMBRE Y APELLIDO: WHOOPI HURT.
-------------------------------
ID: 141,
NOMBRE Y APELLIDO: CATE HARRIS.
-------------------------------
ID: 142,
NOMBRE Y APELLIDO: JADA RYDER.
-------------------------------
ID: 143,
NOMBRE Y APELLIDO: RIVER DEAN.
-------------------------------
ID: 144,
NOMBRE Y APELLIDO: ANGELA WITHERSPOON.
-------------------------------
ID: 145,
NOMBRE Y APELLIDO: KIM ALLEN.
-------------------------------
ID: 146,
NOMBRE Y APELLIDO: ALBERT JOHANSSON.
-------------------------------
ID: 147,
NOMBRE Y APELLIDO: FAY WINSLET.
-------------------------------
ID: 148,
NOMBRE Y APELLIDO: EMILY DEE.
-------------------------------
ID: 149,
NOMBRE Y APELLIDO: RUSSELL TEMPLE.
-------------------------------
ID: 150,
NOMBRE Y APELLIDO: JAYNE NOLTE.
-------------------------------
ID: 151,
NOMBRE Y APELLIDO: GEOFFREY HESTON.
-------------------------------
ID: 152,
NOMBRE Y APELLIDO: BEN HARRIS.
-------------------------------
ID: 153,
NOMBRE Y APELLIDO: MINNIE KILMER.
-------------------------------
ID: 154,
NOMBRE Y APELLIDO: MERYL GIBSON.
-------------------------------
ID: 155,
NOMBRE Y APELLIDO: IAN TANDY.
-------------------------------
ID: 156,
NOMBRE Y APELLIDO: FAY WOOD.
-------------------------------
ID: 157,
NOMBRE Y APELLIDO: GRETA MALDEN.
-------------------------------
ID: 158,
NOMBRE Y APELLIDO: VIVIEN BASINGER.
-------------------------------
ID: 159,
NOMBRE Y APELLIDO: LAURA BRODY.
-------------------------------
ID: 160,
NOMBRE Y APELLIDO: CHRIS DEPP.
-------------------------------
ID: 161,
NOMBRE Y APELLIDO: HARVEY HOPE.
-------------------------------
ID: 162,
NOMBRE Y APELLIDO: OPRAH KILMER.
-------------------------------
ID: 163,
NOMBRE Y APELLIDO: CHRISTOPHER WEST.
-------------------------------
ID: 164,
NOMBRE Y APELLIDO: HUMPHREY WILLIS.
-------------------------------
ID: 165,
NOMBRE Y APELLIDO: AL GARLAND.
-------------------------------
ID: 166,
NOMBRE Y APELLIDO: NICK DEGENERES.
-------------------------------
ID: 167,
NOMBRE Y APELLIDO: LAURENCE BULLOCK.
-------------------------------
ID: 168,
NOMBRE Y APELLIDO: WILL WILSON.
-------------------------------
ID: 169,
NOMBRE Y APELLIDO: KENNETH HOFFMAN.
-------------------------------
ID: 170,
NOMBRE Y APELLIDO: MENA HOPPER.
-------------------------------
ID: 171,
NOMBRE Y APELLIDO: OLYMPIA PFEIFFER.
-------------------------------
ID: 172,
NOMBRE Y APELLIDO: GROUCHO WILLIAMS.
-------------------------------
ID: 173,
NOMBRE Y APELLIDO: ALAN DREYFUSS.
-------------------------------
ID: 174,
NOMBRE Y APELLIDO: MICHAEL BENING.
-------------------------------
ID: 175,
NOMBRE Y APELLIDO: WILLIAM HACKMAN.
-------------------------------
ID: 176,
NOMBRE Y APELLIDO: JON CHASE.
-------------------------------
ID: 177,
NOMBRE Y APELLIDO: GENE MCKELLEN.
-------------------------------
ID: 178,
NOMBRE Y APELLIDO: LISA MONROE.
-------------------------------
ID: 179,
NOMBRE Y APELLIDO: ED GUINESS.
-------------------------------
ID: 180,
NOMBRE Y APELLIDO: JEFF SILVERSTONE.
-------------------------------
ID: 181,
NOMBRE Y APELLIDO: MATTHEW CARREY.
-------------------------------
ID: 182,
NOMBRE Y APELLIDO: DEBBIE AKROYD.
-------------------------------
ID: 183,
NOMBRE Y APELLIDO: RUSSELL CLOSE.
-------------------------------
ID: 184,
NOMBRE Y APELLIDO: HUMPHREY GARLAND.
-------------------------------
ID: 185,
NOMBRE Y APELLIDO: MICHAEL BOLGER.
-------------------------------
ID: 186,
NOMBRE Y APELLIDO: JULIA ZELLWEGER.
-------------------------------
ID: 187,
NOMBRE Y APELLIDO: RENEE BALL.
-------------------------------
ID: 188,
NOMBRE Y APELLIDO: ROCK DUKAKIS.
-------------------------------
ID: 189,
NOMBRE Y APELLIDO: CUBA BIRCH.
-------------------------------
ID: 190,
NOMBRE Y APELLIDO: AUDREY BAILEY.
-------------------------------
ID: 191,
NOMBRE Y APELLIDO: GREGORY GOODING.
-------------------------------
ID: 192,
NOMBRE Y APELLIDO: JOHN SUVARI.
-------------------------------
ID: 193,
NOMBRE Y APELLIDO: BURT TEMPLE.
-------------------------------
ID: 194,
NOMBRE Y APELLIDO: MERYL ALLEN.
-------------------------------
ID: 195,
NOMBRE Y APELLIDO: JAYNE SILVERSTONE.
-------------------------------
ID: 196,
NOMBRE Y APELLIDO: BELA WALKEN.
-------------------------------
ID: 197,
NOMBRE Y APELLIDO: REESE WEST.
-------------------------------
ID: 198,
NOMBRE Y APELLIDO: MARY KEITEL.
-------------------------------
ID: 199,
NOMBRE Y APELLIDO: JULIA FAWCETT.
-------------------------------
ID: 200,
NOMBRE Y APELLIDO: THORA TEMPLE.
-------------------------------
ID: 214,
NOMBRE Y APELLIDO: TOM HANKS.
-------------------------------
ID: 215,
NOMBRE Y APELLIDO: PAUL NEWMAN.
-------------------------------
ID: 216,
NOMBRE Y APELLIDO: MICHAEL CAINE.
-------------------------------
ID: 217,
NOMBRE Y APELLIDO: DUSTIN HOFFMAN.
-------------------------------
ID: 218,
NOMBRE Y APELLIDO: JACK NICHOLSON.
-------------------------------
==============================================
		 FIN CONSULTA
==============================================

Cierre de conexión exitoso!!!